<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid gray;
        border-radius: 1rem;
        margin: 1rem;
    }

    label {
        margin: 0.5rem;
    }

    button {
        margin: 0.5rem;
        border: 1px solid green;
        background-color: green;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        color: white;
    }

    select {
        width: 20rem;
        height: 2rem;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
        padding: 0.5rem;
        margin: 0rem 0rem 1rem;
    }
</style>

<script>
    const createBookButton = () => {
        const bookTitle = document.getElementById('input-title').value;

        fetch(location.href=`/livros/createBook/${bookTitle}`, {
            method: 'POST'
        })
        .then(response => window.alert('Livro adicionado com sucesso!'))
        .catch(error => window.alert(`Ocorreu um erro: ${error}`));
    }
</script>

<form align="center">
    <label>Escreva o título do livro a ser adicionado</label>
    <input type="text" name="title" id="input-title" placeholder="Título">

    <button type="submit" onclick="createBookButton()">Adicionar</button>
</form>