<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid gray;
        border-radius: 1rem;
        margin: 1rem;
    }

    label {
        margin: 0.5rem;
    }

    button {
        margin: 0.5rem;
        border: 1px solid red;
        background-color: red;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        color: white;
    }

    select {
        width: 20rem;
        height: 2rem;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
        padding: 0.5rem;
        margin: 0rem 0rem 1rem;
    }
</style>

<script>
    const deleteBookButton = () => {
        const selectBook = document.getElementById('select-book');
        const bookId = selectBook.value;
    
        fetch(location.href=`/livros/deleteBook/${bookId}`, {
            method: 'DELETE'
        })
        .then(response => window.alert('Livro deletado com sucesso!'))
        .catch(error => window.alert(`Ocorreu um erro: ${error}`));
    }
</script>

<form align="center">
    <label>Escolha um livro abaixo para remover</label>
    <select name="select-book" id="select-book">

        <% for (let book of getBooks ) { %>

            <option value= <%= `${book.id}` %> ><%= book.title %></option>

        <% } %>

    </select>

    <button type="submit" onclick="deleteBookButton()">Remover</button>
</form>